.home-page {
  background-color: #f0f0f0;
  min-height: 92vh;
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.courses-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
.home-container {
  margin-top: 50px;
  width: 85%;
  height: auto;
}
.home-intro-section {
  height: 100px;
  width: 100%;
  background-color: none;
  border-bottom: #b4b4b4 solid 1px;
  margin-bottom: 25px;
}
.home-page-description,
.home-page-title {
  margin-bottom: 10px;
}

/* Lesson.js css section */

.lesson-container {
  height: 275px;
  width: 32%;
  background-color: #fff;
  border-radius: 0px;
  margin-bottom: 50px;
}
.lesson-header {
  height: 25px;
  width: 100%;
  background-color: #3e6898;
  border-radius: 3px 3px 0 0;
}

.lesson-body {
  padding: 20px 0px 0px 20px;
  height: 175px;
}
.lesson-footer {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: none;
  padding-left: 20px;
}
.lesson-button {
  background-clip: none;
  border: 3px solid lightgray;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-family: sans-serif;
  color: #474747;
  text-decoration: none;
}
.lesson-button:hover {
  background-color: lightgray;
  color: #fff;
  border: none;
  text-decoration: none;
}
.lesson-title {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 400;
}
.lesson-type {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #a0a0a0;
}
.lesson-description {
  margin: 0 0 20px 0;
  color: #585858;
  font-size: 16px;
}
pre[class*="language-"] {
  background: #2d2d2d;
}

/* CSS ANIMATIONS */
@keyframes slideFromBottom {
  0% {
    transform: translateY(10%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.lesson-container {
  height: 275px;
  width: 32%;
  background-color: #fff;
  border-radius: 0px;
  margin-bottom: 50px;
  -webkit-animation-name: slideFromBottom; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: slideFromBottom;
  animation-duration: 1s;
}

/* Responsive Design */

@media only screen and (max-width: 1200px) {
  .lesson-container {
    height: 275px;
    width: 48%;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .lesson-container {
    height: 275px;
    width: 48%;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .lesson-container {
    height: 275px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 50px;
  }
  .home-page-description {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .lesson-container {
    height: 200px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 50px;
  }
  .lesson-header {
    height: 25px;
    width: 100%;
    background-color: #3e6898;
    border-radius: 3px 3px 0 0;
  }

  .lesson-body {
    padding: 20px 0px 0px 20px;
    height: 100px;
  }
  .lesson-description {
    display: none;
  }
  .lesson-footer {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: none;
    padding-left: 20px;
  }
}
